.lay1{
  width: 800px;
  height: 450px;
  position: relative;
  margin: 0 auto;
  margin-top: 950px;
  margin-left: 350px;
}
article h1 {
  font-size: 160px;
  height: 150px;
  font-family: 'EB Garamond', serif;
  font-style: italic;
  position: relative;
  display: flex;
  margin-left: 300px;
  margin-right: 140px;
  margin-bottom: 50px;
}
p {
  font-size: 28px;
}
