.menubar {
  display: flex;
  justify-content: space-between;
  height: 190px;
  padding: 100px 140px 0px 100px;
  box-sizing: border-box;
}
.menubar img {
  width: 200px;
  height: 100px;
}
.menubar a {
  font-family: 'Garamond', serif;
  font-size: 28px;
  line-height: 31px;
  height: 100px;
  width: 150px;
}
a {
  padding-top: 20px;
}
