.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 190px;
  box-sizing: border-box;
}
.menubar

.menubar a {
  height: 99px;
  width: 200px;
  left: 1150px;
  top: 100px;
}
