nav{
  width: 200px;
  height: 343px;
  display: block;
  position: fixed;
  box-sizing: border-box;
  left: 240px;
  top: 450px;
}
nav ul{
  margin-left: 30px;
}
li{
  width: 175px;
  height: 50px;
  margin-bottom: 50px;
  left: 120px;
  font-size: 28px;
}
li:hover{
  color: #D8AA52;
  transition: all .1s ease-out;
}
a{
  text-decoration: none;
}
nav img {
  position: absolute;
  margin: 0;
  margin-top: 10px;
}
