nav{
  display: block;
  position: fixed;
  width: 200px;
  height: 343px;
  left: 125px;
  top: 450px;
}
ul{
  text-decoration: none;
  margin-left: 25px;
}
li{
  width: 175px;
  height: 50px;
  margin-bottom: 50px;
  left: 125px;
  font-size: 28px;
}
li:hover{
  color: #D8AA52;
  transition: all .1s ease-out;
}
.vl {
  position: absolute;
  border-left: 1px solid black;
  height: 300px;
  margin-top: 21.5px;
}
.ellipse {
  position: absolute;
  margin-bottom: 85px;
  width: 15px;
  height: 15px;
  color: white;
  border: black;
}
